.card {
    background-color: #F2EEF3;
    color: #091747;
    font-family: Arial;
    padding: 240px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-top: 0;
}

.card-title {
    font-size: 28px;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}


.card-button {
    background-color: #091747;
    color: #E6E1EA;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

    .card-button:hover {
        background-color: #2C3E50;
    }
